<div class="nav-items">
    <div class="nav-item">
        <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </div>
    <div class="nav-item">
      <mat-icon>payment</mat-icon>
      <span>Payment</span>
    </div>
    <div class="nav-item">
        <mat-icon>shopping_cart</mat-icon>
      <span>Sales</span>
    </div>
    <div class="nav-item">
        <mat-icon>trending_up</mat-icon>
      <span>Statistics</span>
    </div>
    <div class="nav-item">
        <mat-icon>phone</mat-icon>
      <span>Contact</span>
    </div>
    <div class="nav-item">
        <mat-icon>comment</mat-icon>
      <span>Comment</span>
    </div>
    <div class="nav-item">
        <mat-icon>folder_shared</mat-icon>
      <span>Folder</span>
    </div>
    
  </div>
